<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block title %}
    <title>Hello, world!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link rel="stylesheet" type="text/css" href="fontawesome-free/css/all.min.css">
    {% endblock title %}
    
  </head>
  <body>

    <nav class="navbar navbar-expand-lg" style="background-color:#042148;">
        <a class="navbar-brand" style="color:white" href="#">BLUE PLANET SOLUTION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
              <a class="nav-link" style="color:white" href="/main">Home</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="color:white" href="/register">Register</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" style="color:white" href="/login">Login</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" style="color:white" href="/main">Data Visualization</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" style="color:white" href="/main">Admin Pannel</a>
              </li>

          </ul>
          
        </div>
      </nav>



      <!--  <img src="{{url_for('static', filename='5th-section.jpg')}}" class="parallax-content contact-content"/> -->
    {%block body%}

        <!--<div>
        <img src="{{url_for('static', filename='5th-section.jpg')}}" />
        </div>-->

            <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="carousel slide" id="myslider" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{{url_for('static', filename='img11.jpg')}}" class="img-fluid img-thumbnail img-responsive"/>
            </div>
            <div class="carousel-item ">
            <img src="{{url_for('static', filename='img22.jpg')}}" class="img-fluid img-thumbnail img-responsive"/>
            </div>
            <div class="carousel-item ">
            <img src="{{url_for('static', filename='img33.jpg')}}" class="img-fluid img-thumbnail img-responsive"/>
            </div>
            <div class="carousel-item ">
            <img src="{{url_for('static', filename='img44.jpg')}}" class="img-fluid img-thumbnail img-responsive"/>
            </div>
            </div>
            
              <ul class="carousel-indicators">
              <li data-target="#myslider" data-slide-to="0" class="active"></li>
              <li data-target="#myslider" data-slide-to="1" class="active"></li>
              <li data-target="#myslider" data-slide-to="2" class="active"></li>
              <li data-target="#myslider" data-slide-to="3" class="active"></li>
              </ul>
              <a href="#myslider" data-slide="prev" class="carousel-control-prev">
              <span class="carousel-control-prev-icon"></span>
              </a>
              <a href="#myslider" data-slide="next" class="carousel-control-next">
              <span class="carousel-control-next-icon"></span>
              </a>
              </div>
              </div>
            </div>

    <div class="container-fluid">
        <div class="row">
           <div class="col-lg-12 text-center">
           <h1 id="auy"><u>Popular Courses</u></h1>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, id?</p>
           </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row" style="padding: 30px;">
           <div class="col-lg-4 col-sm-12 col-md-12" style="padding: 70px;">
           <div style=" box-shadow: 5px 5px 5px #a2a298f2;" >
           <img src="{{url_for('static', filename='testimonials-1.jpg')}}" class="card-img" style="height: 265px;"><br>
           <div class="card-body" style="height: 165px; background-color: #cacab617;">
           <h4 class="card-title text-center">JAVA</h4><br>
           <h5 style="text-align: center;">Core JAVA</h5>
           <a href="#" class="btn btn-success  text-center d-block">Know More</a>
           </div>
           </div>
           </div>

           <div class="col-lg-4 col-sm-12 col-md-12" style="padding: 70px;">
           <div style="box-shadow: 5px 5px 5px #a2a298f2;" >
           <img src="{{url_for('static', filename='testimonials-1.jpg')}}" class="card-img" style="height: 265px;"><br>
           <div class="card-body"  style="height: 165px; background-color: #cacab617;">
           <h4 class="card-title text-center">PYTHON</h4><br>
           <h5 style="text-align: center;">Python Django and Flask</h5>
           <a href="#" class="btn btn-success  text-center d-block">Know More</a>
           </div>
           </div>
           </div>

           <div class="col-lg-4 col-sm-12 col-md-12" style="padding: 70px;">
           <div style="box-shadow: 5px 5px 5px #a2a298f2;" >
           <img src="{{url_for('static', filename='testimonials-1.jpg')}}" class="card-img" style="height: 265px;"><br>
           <div class="card-body" style="height: 165px; background-color: #cacab617;">
           <h4 class="card-title text-center">MACHINE LEARNING</h4><br>
           <h5 style="text-align: center;">ALL MODELS</h5>
           <a href="#" class="btn btn-success  text-center d-block">Know More</a>
           </div>
           </div>
           </div>
       </div>
 </div>


 <div class="container-fluid" style="background-color: #111523">
    <div class="row" style="padding: 50px;">
       <div class="col-lg-4 col-sm-12 col-md-12" style="padding: 30px; text-align: right; color: white;">
       <h3><u>Blue Planet Info Solutions</u></h3>
       </div>
       <div class="col-lg-8 col-md-12 col-sm-12" style="padding: 40px; text-align: left; color: #8C8C8C;">
       <p style=""><strong>
        Blue Planet Info Solutions Inc., (Blue Planet) was founded in 1997 by a group of technologists with extensive
        experience in Corporate America. We provide Fortune 500 companies with consulting, staff augmentation,
        system administration and training</strong></p>

       <p style=""><strong>At Blue Planet, we have created an environment, culture and opportunities with our customer-partners
         which enable our employees to exceed customer expectations and go the extra mile thus creating a Magical experience of delight.
        We believe - the value proposition centered on productivity, efficiency, service, cost leadership, a strong process
         outlook is significantly enhanced towards creating customer delight.
       </strong></p>
       </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 100px; padding-top: 30px;">
       <h1><u>Testimonials</u></h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
       <div class="carousel slide" id="niuj" data-ride="carousel">
       <div class="carousel-inner">
       <div class="carousel-item active">
    <div class="row">
       <div class="col-lg-6" style="padding: 70px;">
       <img src="{{url_for('static', filename='img_avatar2.png')}}" class="rounded-circle" style="width: 50px; height: 50px; float: left;">
       <h5>Dr.DHARMRAJ SINGH</h5>
       <p>C PROGRAMMER</p><br>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!</p>
       </div>
       <div class="col-lg-6" style="padding: 70px;">
       <img src="{{url_for('static', filename='img_avatar2.png')}}" class="rounded-circle" style="width: 50px; height: 50px; float: left;">
       <h5>Dr.RAJAN MAURYA</h5>
       <p>C PROGRAMMER</p><br>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!</p>
       </div>
    </div>
       </div>
       <div class="carousel-item">
    <div class="row">
       <div class="col-lg-6" style="padding: 70px;">
       <img src="{{url_for('static', filename='img_avatar2.png')}}" class="rounded-circle" style="width: 50px; height: 50px; float: left;">
       <h5>Dr.UPENDRA SHARMA</h5>
       <p>BUSINESS MANAGEMENT</p><br>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!</p>
       </div>
       <div class="col-lg-6" style="padding: 70px;">
       <img src="{{url_for('static', filename='img_avatar2.png')}}" class="rounded-circle" style="width: 50px; height: 50px; float: left;">
       <h5>Dr.PIYUSH SHARMA</h5>
       <p>WEB DEVLOPMENT</p><br>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!</p>
       </div>
    </div>
       </div>

       </div>
       <ul class="carousel-indicators">
       <li data-target="#niuj" data-slide-to="0" class="active bg-dark"></li>
       <li data-target="#niuj" data-slide-to="1" class="active  bg-dark"></li>
       </ul>
       <a href="#niuj" data-slide="prev" class="carousel-control-prev">
       <span class="carousel-control-prev-icon bg-dark"></span>
       </a>
       <a href="#niuj" data-slide="next" class="carousel-control-next">
       <span class="carousel-control-next-icon bg-dark"></span>
       </a>
       </div>


       </div>
    </div>
</div><br>


<div class="footer">
    <div class="container">
    <div class="row">
    <div class="col-lg-3">
    <p class="mb-4"><img src="{{url_for('static', filename='img_avatar2.png')}}" alt="Image" class="img-fluid" style="width: 20%; height: 20%;"></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>
    <p><a href="#">Learn More</a></p>
    </div>
    <div class="col-lg-3">
    <h3 class="footer-heading"><span>Our Campus</span></h3>
    <ul class="list-unstyled">
    <li><a href="#" style="color: #8C8C8C;">Acedemic</a></li>
    <li><a href="#" style="color: #8C8C8C;">News</a></li>
    <li><a href="#" style="color: #8C8C8C;">Our Interns</a></li>
    <li><a href="#" style="color: #8C8C8C;">Our Leadership</a></li>
    <li><a href="#" style="color: #8C8C8C;">Careers</a></li>
    <li><a href="#" style="color: #8C8C8C;">Human Resources</a></li>
    </ul>
    </div>
    <div class="col-lg-3">
    <h3 class="footer-heading"><span>Our Courses</span></h3>
    <ul class="list-unstyled">
    <li><a href="#" style="color: #8C8C8C;">Math</a></li>
    <li><a href="#" style="color: #8C8C8C;">Science &amp; Engineering</a></li>
    <li><a href="#" style="color: #8C8C8C;">Arts &amp; Humanities</a></li>
    <li><a href="#" style="color: #8C8C8C;">Economics &amp; Finance</a></li>
    <li><a href="#" style="color: #8C8C8C;">Business Administration</a></li>
    <li><a href="#" style="color: #8C8C8C;">Computer Science</a></li>
    </ul>
    </div>
    <div class="col-lg-3">
    <h3 class="footer-heading"><span>Contact</span></h3>
    <ul class="list-unstyled">
    <li><a href="#" style="color: #8C8C8C;">Help Center</a></li>
    <li><a href="#" style="color: #8C8C8C;">Support Community</a></li>
    <li><a href="#" style="color: #8C8C8C;">Press</a></li>
    <li><a href="#" style="color: #8C8C8C;">Share Your Story</a></li>
    <li><a href="#" style="color: #8C8C8C;">Our Supporters</a></li>
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="copyright">
    <p class="nono">
    
    Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">
    </script><script type="0e75c2057a8c5401d372fd3e-text/javascript">document.write(new Date().getFullYear());</script>
     A2019 Copyright Blue Planet Solutions Pune © All rights reserved. <i class="icon-heart" aria-hidden="true"></i>
    
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>

     

    {%endblock body%}


    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>